.movies-cards {
  padding: 68px 0 70px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 364px);
  grid-column-gap: 24px;
  grid-row-gap: 26px;
}

@media screen and (max-width: 1240px) {
  .movies-cards {
    padding-top: 60px;
    grid-template-columns: repeat(auto-fill, 339px);
    grid-row-gap: 33px;
  }
}

@media screen and (max-width: 730px) {
  .movies-cards {
    padding-top: 22px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-row-gap: 14px;
  }
}
