.about {
  margin: 0 auto;
  padding: 110px 50px 90px;
  max-width: 1140px;
}

.about__title {
  margin: 0;
  padding-bottom: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
}

.about__cards {
  padding-left: 0;
  padding-top: 70px;
  margin: 0 0 111px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.about__card {
  max-width: 550px;
}

.about__subtitle {
  margin: 0 0 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.about__line {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  list-style: none;
}

.about__line-part {
  padding: 9px 0 10px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.green {
  background-color: #3DDC84;
  color: #000;
}

.gray {
  background-color: #303030;
}

.black {
  background-color: rgba(0, 0, 0, 0);
  color: #8B8B8B;
}

@media screen and (max-width: 1240px){
  .about {
    padding-top: 85px;
  }

  .about__cards {
    margin-bottom: 93px;
  }

  .about__card {
    max-width: 319px;
  }

  .about__paragraph {
    font-size: 12px;
    line-height: 18px;
  }
}
