.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 79px 30px 20px;
}

.footer__title {
  padding: 0 0 20px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #8B8B8B;
  border-bottom: 1px solid #424242;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.footer__link {
  padding: 0 0 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 730px) {
  .footer {
    padding: 59px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    margin-bottom: 31px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
  }

  .footer__copyright {
    padding-top: 19px;
    font-size: 12px;
    line-height: 15px;
    color: #8B8B8B;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    text-align: center;
    padding: 0 0 13px;
    font-size: 12px;
  }
}
